* {
    box-sizing: border-box;
    text-align: center
}

body {
    max-width: 1500px;
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.4;
    color: white;
    background-image: url("../img/blue-background.jpg");
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    background-color: #0045ae;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
    box-shadow: 10px 10px 20px white;
}

a {
    font-family: "Anton", sans-serif;
    color: grey;
    text-decoration: none;
}

a:hover {
    color: #82fcfb;
    text-decoration: line-through;
}

header {
    padding: 20px;
}

ul {
  text-align: center;
  list-style-position: inside;
}

footer {
  margin: 20px; /* Vous pouvez ajuster la valeur selon vos besoins */
}

h1 {
  font-family: "Anton SC", sans-serif;
      text-decoration: underline;
  border: 2px yellow;
  border-radius: 5px;
}
